openapi: 3.1.0
info:
  title: Tango RaaS Accounts Catalog API
  description: 'The Tango Rewards as a Service (RaaS) REST API enables businesses to programmatically send gift cards, manage reward orders, fund accounts, access the global reward catalog, configure webhooks, and track delivery status for digital rewards and incentive programs.

    '
  version: v2
  contact:
    name: Tango Card Developer Support
    email: devsupport@tangocard.com
    url: https://developers.tangocard.com/
  license:
    name: Proprietary
    url: https://www.tangocard.com/terms-of-service/
servers:
- url: https://api.tangocard.com/raas/v2
  description: Production
- url: https://integration-api.tangocard.com/raas/v2
  description: Sandbox / Integration
security:
- basicAuth: []
tags:
- name: Catalog
  description: Reward catalog access
paths:
  /catalogs:
    get:
      operationId: getCatalog
      summary: Get reward catalog
      description: Retrieve the full reward catalog including all available gift cards and prepaid products.
      tags:
      - Catalog
      parameters:
      - name: verbose
        in: query
        schema:
          type: boolean
        description: Return full catalog details
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  brands:
                    type: array
                    items:
                      type: object
                      properties:
                        brandKey:
                          type: string
                        brandName:
                          type: string
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/CatalogItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      description: API error response
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: Short error description
        message:
          type: string
          description: Detailed error message
        path:
          type: string
          description: Request path that caused the error
    CatalogItem:
      type: object
      description: Represents a reward item in the catalog
      properties:
        utid:
          type: string
          description: Universal Token ID for this reward item
        rewardName:
          type: string
          description: Name of the reward
        brandName:
          type: string
          description: Brand offering the reward
        brandKey:
          type: string
          description: Unique brand identifier
        currencyCode:
          type: string
          description: ISO 4217 currency code
        minValue:
          type: number
          format: double
          description: Minimum denomination value
        maxValue:
          type: number
          format: double
          description: Maximum denomination value
        fixedValue:
          type: number
          format: double
          description: Fixed denomination value (if applicable)
        countries:
          type: array
          items:
            type: string
          description: Countries where reward is available
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth using platform name and API key
    oAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow for more secure integrations
      flows:
        clientCredentials:
          tokenUrl: https://auth.tangocard.com/oauth/token
          scopes: {}
externalDocs:
  description: Tango Developer Portal
  url: https://developers.tangocard.com/docs/api-endpoint-overview
